<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <servlet-mapping>
        <!--
        trick to allow static content together with 'catch-all' REST servlet
        Static content is server from /doc.
        For easy of use, the top level rest resource is forwarded to doc/index.html
         -->
        <servlet-name>default</servlet-name>
        <url-pattern>/doc/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>com.alu.mdm.rest.MdmApplication</servlet-name>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>com.alu.mdm.rest.MdmApplication</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>rest-api</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>PUT</http-method>
            <http-method>POST</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>dashboard.read</role-name>
            <role-name>sce.manage</role-name>
            <role-name>sce.read</role-name>
            <role-name>devicetype.manage</role-name>
            <role-name>devicetype.read</role-name>
            <role-name>role.manage</role-name>
            <role-name>role.read</role-name>
            <role-name>tenant.manage</role-name>
            <role-name>tenant.read</role-name>
            <role-name>user.manage</role-name>
            <role-name>user.read</role-name>
            <role-name>device.manage</role-name>
            <role-name>device.read</role-name>
            <role-name>application.manage</role-name>
            <role-name>application.read</role-name>
            <role-name>action.manage</role-name>
            <role-name>action.read</role-name>
            <role-name>script.manage</role-name>
            <role-name>script.read</role-name>
            <role-name>firmware.manage</role-name>
            <role-name>firmware.read</role-name>
            <role-name>fault.manage</role-name>
            <role-name>fault.read</role-name>
            <role-name>campaign.manage</role-name>
            <role-name>campaign.read</role-name>
            <role-name>policy.manage</role-name>
            <role-name>policy.read</role-name>
            <role-name>login.special</role-name>
            <role-name>selectioncriteria.manage</role-name>
            <role-name>selectioncriteria.read</role-name>
            <role-name>primitive.read</role-name>
            <role-name>permission.read</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>REST API</realm-name>
    </login-config>
    <security-role>
        <role-name>dashboard.read</role-name>
    </security-role>
    <security-role>
        <role-name>sce.manage</role-name>
    </security-role>
    <security-role>
        <role-name>sce.read</role-name>
    </security-role>
    <security-role>
        <role-name>devicetype.manage</role-name>
    </security-role>
    <security-role>
        <role-name>devicetype.read</role-name>
    </security-role>
    <security-role>
        <role-name>role.manage</role-name>
    </security-role>
    <security-role>
        <role-name>role.read</role-name>
    </security-role>
    <security-role>
        <role-name>tenant.manage</role-name>
    </security-role>
    <security-role>
        <role-name>tenant.read</role-name>
    </security-role>
    <security-role>
        <role-name>user.manage</role-name>
    </security-role>
    <security-role>
        <role-name>user.read</role-name>
    </security-role>
    <security-role>
        <role-name>device.manage</role-name>
    </security-role>
    <security-role>
        <role-name>device.read</role-name>
    </security-role>
    <security-role>
        <role-name>application.manage</role-name>
    </security-role>
    <security-role>
        <role-name>application.read</role-name>
    </security-role>
    <security-role>
        <role-name>action.manage</role-name>
    </security-role>
    <security-role>
        <role-name>action.read</role-name>
    </security-role>
    <security-role>
        <role-name>script.manage</role-name>
    </security-role>
    <security-role>
        <role-name>script.read</role-name>
    </security-role>
    <security-role>
        <role-name>firmware.manage</role-name>
    </security-role>
    <security-role>
        <role-name>firmware.read</role-name>
    </security-role>
    <security-role>
        <role-name>fault.manage</role-name>
    </security-role>
    <security-role>
        <role-name>fault.read</role-name>
    </security-role>
    <security-role>
        <role-name>campaign.manage</role-name>
    </security-role>
    <security-role>
        <role-name>campaign.read</role-name>
    </security-role>
    <security-role>
        <role-name>policy.manage</role-name>
    </security-role>
    <security-role>
        <role-name>policy.read</role-name>
    </security-role>
    <security-role>
        <role-name>login.special</role-name>
    </security-role>
    <security-role>
        <role-name>selectioncriteria.manage</role-name>
    </security-role>
    <security-role>
        <role-name>selectioncriteria.read</role-name>
    </security-role>
    <security-role>
        <role-name>primitive.read</role-name>
    </security-role>
    <security-role>
        <role-name>permission.read</role-name>
    </security-role>

    <context-param>
        <param-name>resteasy.media.type.param.mapping</param-name>
        <param-value>accept</param-value>
    </context-param>
</web-app>
